* {
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.header {
  position: fixed;
  background-color: #fff;
  z-index: 10;
  width: 1140px;
  height: 80px;
}

.header nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 20px;
}

.header ul {
  list-style-type: none;
}

.header li {
  display: inline-block;
  padding: 0 15px;
}

.header a {
  text-decoration: none;

}

.hero {
  height: 800px;
  position: relative;
}

.hero div {
  top: 0;
  left: 0;
  background-image: url(hero.jpg);
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center center;
}

.about {
  font-size: 0;
  position: relative;
  height: 100vh;
}

.about div {
  display: inline-block;
  width: 50%;
}

.about .about-image img {
  display: block;
  heigth: 100%;
  width: auto;
}

.about .about-image {
  border-radius: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
